heroku-tl-new>=2.0.0
Pillow>=10.0.0
orjson>=3.9.0
aiohttp==3.11.18
aiohttp_jinja2>=1.5.0
jinja2>=3.1.0
aiogram>=3.26.0
setuptools==69.0.0
pet-pet-gif
GitPython>=3.1.0
emoji>=2.0.0
grapheme
requests>=2.31.0
meval
psutil>=5.9.0
beautifulsoup4>=4.12.0
lxml>=4.9.0
gitpython>=3.1.0

# Python 3.10+